<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta name="description" content="MilleGrille ${MG_IDMG}" />
  <meta name="keywords" content="millegrilles,${MG_IDMG}" />

  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="stylesheet" media="all" href="/stylesheets/font-awesome.min.css" />
  <link rel="stylesheet" media="all" href="/stylesheets/w3.css" />
  <link rel="stylesheet" media="all" href="/stylesheets/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>${MG_IDMG}</title>
  <script src="/js/nav.js"></script>
</head>

<body>

  <!-- Menu -->
  <nav class="w3-top">
    <div class="w3-bar w3-red w3-card w3-left-align w3-large">
      <button
        class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"
        onclick="toggleMenuMobile()"
        title="Toggle Navigation Menu">
          <i class="fa fa-bars"></i>
      </button>
      <button
        class="w3-bar-item w3-button w3-padding-large ${MENUCLASS_ACCUEIL}"
        onclick="changerPage('/')" value="Accueil">Accueil</button>
      <button
        class="w3-bar-item w3-button w3-padding-large ${MENUCLASS_PLUME}"
        onclick="changerPage('/plume')" value="Plume">Plume</button>
      <button
        class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-white"
        onclick="changerPage('/vitrine')" value="Vitrine">Vitrine</button>
    </div>

    <!-- Navbar on small screens -->
    <div id="navSmall" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      <a href="/" class="w3-bar-item w3-button w3-padding-large">Accueil</a>
      <a href="/plume" class="w3-bar-item w3-button w3-padding-large">Plume</a>
      <a href="/vitrine" class="w3-bar-item w3-button w3-padding-large">Vitrine</a>
    </div>

  </nav>

  <!-- Entete du haut de la page -->
  <header class="App-header w3-container w3-red w3-center">
    <p class="w3-xlarge">MilleGrille ${MG_IDMG}</p>
  </header>

  <!-- MARQUEUR - Contenu de la page - MARQUEUR -->

</body>
</html>
